* {
  margin: 0px;
  padding: 0px;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./Images/Sec-1-bg.png");
  background-size: cover;

}

.transbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;

}
.logo{
  margin-left: 10px;
}
.logo img {
  /* margin-right: 50px; */
  height: 50px;
  width: 120px;
}

nav {
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  /* padding-top: 15px; */
  justify-content: center;
  margin-left: 70px;
}

nav ul {
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 1s all;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 0px;
  font-size: x-large
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-container {
  display: flex;
  width: 55%;
  height: 5%;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.line{
  border-bottom: 1px solid white;
  width: 60%;
  margin: auto;
}