.background {
  margin: 0px;
  padding: 0px;
}

.background {
  width: auto;
  height: 120vh;
  background-image: url("./Images/Sec-1-bg.png");
  background-size: cover;

}

.transbox {
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;

}

.logo {
  margin-left: 10px;
}

.logo img {
  /* margin-right: 50px; */
  height: 50px;
  width: 120px;
}

nav {
  display: flex;
  width: auto;
  height: 50px;
  line-height: 50px;
  /* padding-top: 15px; */
  justify-content: center;
  margin-left: 70px;
}

nav ul {
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 1s all;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 0px;
  font-size: x-large
}

nav ul li a:hover {
  color: #fff;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-container {
  display: flex;
  width: auto;
  height: 5%;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.line {
  border-bottom: 1px solid white;
  width: 60%;
  margin: auto;
}

.sec-1-main {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.sec-1-heading {
  color: white;
  width: 45%;
  font-size: 50px;
  padding-top: 50px;
}

.sec-1-heading h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sec-1-map {
  margin-top: 45px;
  /* height: 400px;
  width: 500px; */
}

.map {
  width: 500px;
  height: 300px;
  border: 2px solid cyan;
  border-radius: 20px;
}

.searchBox-container {
  width: 400px;
  height: auto;
  background-color: #2c373f;
  /* margin: 20vh auto; */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 4rem;
  padding: 10px;
  margin-top: 20px;
}

.search__box {
  float: left;
  width: 0;
  height: 4rem;
  /*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all .75s ease-in;
  cursor: pointer;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
}

/* .search__box:focus, .search__box:hover {
  background-color: #f1f2f6;
} */

.search__icon {
  box-sizing: border-box;
  float: right;
  font-size: 2.5rem;
  display: inline-block;
  /*   justify-content: center;
  align-items: center; */
  margin-left: .8rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all .25s ease-in;
  padding: .7rem;
  border-radius: 50%;
}

.searchBox-container:hover>.search__box {
  width: 85%;
  padding: 0 1rem;
  /* background-color: white; */
}

.searchBox-container:hover>.search__icon {
  background-color: #eee;
}

.show {
  width: 85%;
  border: 1px solid red;
}

.sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  background-color: #0079cf;
  display: flex;
  flex-direction: column;
}